# SQL Database
DB_TYPE = 'postgres'
DB_HOST = 'localhost'
DB_PORT = '5432'
DB_DATABASE = 'myapp'
DB_USERNAME = 'devuser'
DB_PASSWORD = 'devpass'

# redis config
REDIS_HOST = "localhost"
REDIS_PORT = 6379
REDIS_PASSWORD = ""

# jwt config
JWT_REFRESH_SECRET = 'xl-lite'
JWT_ACCESS_SECRET = 'xl-lite-access'
# 过期时间
JWT_REFRESH_EXPIRATION = 60 * 60 * 24 * 7 # 7天
JWT_ACCESS_EXPIRATION = 60 * 15  # 15分钟

# server config
PORT = 3000

# HASH KEY  用户密码加密 Key
HASH_KEY = 'xl-lite'


# 超级管理员配置
SUPER_ADMIN_NAME = 'admin'
SUPER_ADMIN_PASSWORD = '123456'